<!DOCTYPE html>
<html>
  <head>
    <title>Sign In</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='login.css') }}"
    />
  </head>
  <body>
    
      <h1>Sign In</h1>
      <form method="POST" action="{{ url_for('handle_signin') }}">
        <input type="hidden" name="action" value="signin" />
        <label for="username">Username:</label>
        <input type="text" name="username" required />
        <br />
        <label for="password">Password:</label>
        <input type="password" name="password" required />
        <br />
        <input type="submit" value="Sign In" />
      </form>
      <p>
        Don't have an account?
        <a href="{{ url_for('handle_signup') }}">Sign Up</a>
      </p>
      <form method="POST">
        <input type="hidden" name="action" value="init_db">
        <button type="submit">Init Database</button>
      </form>
      <div class="error-messages">
        <div class="messages">
          {% with messages = get_flashed_messages(with_categories=true,
          category_filter=["now"]) %} {% if messages %}
          <ul class="flashes">
            {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %} {% endwith %}
        </div>
      </div>
    
  </body>
</html>
